<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [29]:
!pip install sqlalchemy==2.0.28

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: sqlalchemy==2.0.28 in /home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages (2.0.28)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from sqlalchemy==2.0.28) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from sqlalchemy==2.0.28) (2.0.1)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [31]:
#Please uncomment and execute the code below if you are working locally.

!pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: ipython-sql in /home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in /home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages (from ipython-sql) (2.0.28)
Requirement already satisfied: sqlparse in /home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [32]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [33]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [34]:
!pip install -q pandas==1.1.5

In [ ]:
#%sql sqlite:///my_data1.db
%sql ibm_db_sa://kfh73226:Slj4oR4OvsRAOZeF@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb?security=SSL

In [36]:
import pandas as pd
df = pd.read_csv("Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

**Note:This below code is added to remove blank rows from table**

In [38]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [40]:
%sql select distinct launch_site from SPACEXDATASET;

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [42]:
%sql select * from SPACEXDATASET where launch_site like 'CCA%' limit 5;

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [44]:
%sql select sum(payload_mass__kg_) as total_payload_mass from SPACEXDATASET where customer = 'NASA (CRS)';

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [46]:
%sql select avg(payload_mass__kg_) as average_payload_mass from SPACEXDATASET where booster_version like '%F9 v1.1%';

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [48]:
%sql select min(date) as first_successful_landing from SPACEXDATASET where landing__outcome = 'Success (ground pad)';

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [50]:
%sql select booster_version from SPACEXDATASET where landing__outcome = 'Success (drone ship)' and payload_mass__kg_ between 4000 and 6000;

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 7




##### List the total number of successful and failure mission outcomes

In [52]:
%sql select mission_outcome, count(*) as total_number from SPACEXDATASET group by mission_outcome;

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [54]:
%sql select booster_version from SPACEXDATASET where payload_mass__kg_ = (select max(payload_mass__kg_) from SPACEXDATASET);

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [56]:
%%sql select monthname(date) as month, date, booster_version, launch_site, landing__outcome from SPACEXDATASET
      where landing__outcome = 'Failure (drone ship)' and year(date)=2015;

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [58]:
%%sql select landing__outcome, count(*) as count_outcomes from SPACEXDATASET
      where date between '2010-06-04' and '2017-03-20'
      group by landing__outcome
      order by count_outcomes desc;

Traceback (most recent call last):
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/234cadc9-cb35-42e6-84ef-ca9006eeafcd/.local/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>